* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
} 
 .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@import "tailwindcss";